body{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#main{
    float: left;
    width: 45%;
}
#calendar{
    margin-top: 10px;
    padding: 15px;
    float: right;
    width: 50%;
    background: white;
    border: solid black 2px;
}
#dash{
    background: white;
}

#header{
    padding: 20px;
}
#bottom{
    padding: 30px;
    clear: both;
    text-align: center;
}


@media only screen and (max-width: 980px) {
}

@media  only screen and (max-width: 768px) {
    #header, h1{
        width: 100%;
        font-size: 200%;
        text-align: center;
    }
    #main{
        width: 100%;
    }
    #calendar{
        margin-top: 15px;
        width: 100%;
        clear: both;
    }


}

@media  only screen and (max-width: 640px) {
    #header, h1{
        width: 100%;
        font-size: 150%;
        text-align: center;
    }
    .Profile-image{
        margin-left: 40px;
    }
    #main{
        width: 100%;
    }
    #calendar{
        margin-top: 15px;
        width: 100%;
        clear: both;
    }
    #newImg{
        width: 95%;
        height: auto;

    }

}