body{
    background: #eaeaea;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(white);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(white); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#main{
    width: 100%;
}
#calendar{
    margin-top: 10px;
    padding: 15px;
    clear: both;
    width: auto;
    height: auto;
    background: white;
}
#dash{
    background: white;
}

#header{
    padding: 20px;
}
#bottom{
    padding: 30px;
    clear: both;
    text-align: center;
}


@media only screen and (max-width: 980px) {
}

@media  only screen and (max-width: 768px) {
    #main{
        width: 100%;
    }
    #calendar{
        margin-top: 15px;
        width: 100%;
        clear: both;
    }
    #classJumbo, #studentJumbo, #instructorsJumbo{
        height: auto;
        align-content: center;
    }
    #jumboName{
        font-size: 40px;
        margin-top: 20px;
    }


}

@media  only screen and (max-width: 640px) {

    #main{
        width: 100%;
    }
    #calendar{
        margin-top: 15px;
        width: 100%;
        clear: both;
    }
    #newImg{
        width: 95%;
        height: auto;

    }
    #decoration{
        position: relative;

        width: 120%;
    }
    /* .fc-prev-button, .fc-next-button, .fc-icon, .fc-today-button, .fc-month-button{
        width: 20px;
        float: left;
    } */

}