#dash{
    float: left;
    clear: both;
    border: solid black 2px;
    padding: 50px;
   
}
#newImg{
    width: 400px;
    height: auto;
    border-radius: 10%;
}
#dashSumm{
    padding: 10px;
    margin-top: 80px;
    width: 85%;
    height: 50%;
}