.studentImage {
    height: 250px;
    overflow: hidden;
}

.detailsImage {
    height: 300px;
    overflow: hidden;
}


.studentprofileImage {
    height: 300px;
    max-width: 350px; 
    overflow: hidden;
}
